<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=VATSAL\SQLEXPRESS;Initial Catalog=DB_Society_Management;Persist Security Info=True;User ID=sa;Password=sa@123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <sessionState timeout="20"></sessionState>
     <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="Vatsal &lt;sonivatsal111@gmail.com &gt;">
        <network host="smtp.gmail.com" enableSsl="true" userName="vatsal" password="8511218967vat" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="RewriteRules" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          <add input="{REQUEST_URI}" pattern="^/(api)" negate="true"/>
        </conditions>
        <action type="Rewrite" url="/Data_Manage.aspx"/>
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>
